# elements rpc Hidden Service
HiddenServiceDir /data/app-$APP_ID-rpc
HiddenServicePort $APP_ELEMENTS_NODE_RPC_PORT elements_node_1:$APP_ELEMENTS_NODE_RPC_PORT

# elements p2p Hidden Service
HiddenServiceDir /data/app-$APP_ID-p2p
HiddenServicePort $APP_ELEMENTS_NODE_P2P_PORT elements_node_1:$APP_ELEMENTS_NODE_P2P_PORT