# elements rpc Hidden Service
HiddenServiceDir /data/app-$APP_ID-rpc
HiddenServicePort $APP_ELEMENTS_NODE_RPC_PORT $APP_ELEMENTS_NODE_IP:$APP_ELEMENTS_NODE_RPC_PORT

# elements p2p Hidden Service
HiddenServiceDir /data/app-$APP_ID-p2p
HiddenServicePort $APP_ELEMENTS_NODE_P2P_PORT $APP_ELEMENTS_NODE_IP:$APP_ELEMENTS_NODE_P2P_PORT

# elements Hidden Service
HiddenServiceDir /data/app-$APP_ID
HiddenServicePort 80 $APP_PROXY_HOSTNAME:$APP_PROXY_PORT