{
  "http_server": {
    "address": "0.0.0.0",
    "port": 8000
  },

  "log": {
    "level": "info"
  },

  "engine": {
    "type": "redis",
    "redis": {
      "address": "redis://${APP_ID}_redis_1:6379/3"
    }
  },

  "client": {
    "user_connection_limit": 16,
    "ping_interval": "25s",
    "stale_close_delay": "60s"
  },

  "channel": {
    "namespaces": [
      {
        "name": "widget",
        "presence": false,
        "history_size": 100,
        "history_ttl": "10m",
        "force_recovery": true,
        "allow_subscribe_for_anonymous": false,
        "allow_subscribe_for_client": false,
        "allow_publish_for_subscriber": false,
        "allow_publish_for_client": false,
        "allow_publish_for_anonymous": false
      },
      {
        "name": "widgettyping",
        "presence": false,
        "history_size": 0,
        "history_ttl": "0s",
        "force_recovery": false,
        "allow_subscribe_for_anonymous": false,
        "allow_subscribe_for_client": false,
        "allow_publish_for_subscriber": true,
        "allow_publish_for_client": false,
        "allow_publish_for_anonymous": false
      },
      {
        "name": "user",
        "presence": true,
        "history_size": 50,
        "history_ttl": "5m",
        "force_recovery": true,
        "allow_subscribe_for_anonymous": false,
        "allow_subscribe_for_client": false,
        "allow_publish_for_subscriber": false,
        "allow_publish_for_client": false,
        "allow_publish_for_anonymous": false
      },
      {
        "name": "admin",
        "presence": true,
        "history_size": 50,
        "history_ttl": "5m",
        "force_recovery": true,
        "allow_subscribe_for_anonymous": false,
        "allow_subscribe_for_client": false,
        "allow_publish_for_subscriber": false,
        "allow_publish_for_client": false,
        "allow_publish_for_anonymous": false
      },
      {
        "name": "system",
        "presence": false,
        "history_size": 10,
        "history_ttl": "1m",
        "force_recovery": false,
        "allow_subscribe_for_anonymous": true,
        "allow_subscribe_for_client": true,
        "allow_publish_for_subscriber": false
      }
    ]
  },

  "http_api": {},

  "health": {
    "enabled": true
  }
}
