# sphinx-relay Hidden Service
# We expose 80 for the connection string UI and $APP_SPHINX_RELAY_PORT for the
# actual server connection
HiddenServiceDir /data/app-sphinx-relay
HiddenServicePort 80 $APP_SPHINX_RELAY_IP:$APP_SPHINX_RELAY_PORT
HiddenServicePort $APP_SPHINX_RELAY_PORT $APP_SPHINX_RELAY_IP:$APP_SPHINX_RELAY_PORT