# core-lightning-squeaknode p2p Hidden Service
HiddenServiceDir /data/app-core-lightning-squeaknode-p2p
HiddenServicePort $APP_CORE_LIGHTNING_SQUEAKNODE_P2P_PORT $APP_CORE_LIGHTNING_SQUEAKNODE_IP:$APP_CORE_LIGHTNING_SQUEAKNODE_P2P_PORT
HiddenServicePort $APP_CORE_LIGHTNING_SQUEAKNODE_P2P_TESTNET_PORT $APP_CORE_LIGHTNING_SQUEAKNODE_IP:$APP_CORE_LIGHTNING_SQUEAKNODE_P2P_TESTNET_PORT

# core-lightning-squeaknode Hidden Service
HiddenServiceDir /data/app-core-lightning-squeaknode
HiddenServicePort 80 $APP_CORE_LIGHTNING_SQUEAKNODE_IP:$APP_CORE_LIGHTNING_SQUEAKNODE_PORT