# squeaknode-core-lightning p2p Hidden Service
HiddenServiceDir /data/app-squeaknode-core-lightning-p2p
HiddenServicePort $APP_SQUEAKNODE_CORE_LIGHTNING_P2P_PORT $APP_SQUEAKNODE_CORE_LIGHTNING_IP:$APP_SQUEAKNODE_CORE_LIGHTNING_P2P_PORT
HiddenServicePort $APP_SQUEAKNODE_CORE_LIGHTNING_P2P_TESTNET_PORT $APP_SQUEAKNODE_CORE_LIGHTNING_IP:$APP_SQUEAKNODE_CORE_LIGHTNING_P2P_TESTNET_PORT

# squeaknode-core-lightning Hidden Service
HiddenServiceDir /data/app-squeaknode-core-lightning
HiddenServicePort 80 $APP_SQUEAKNODE_CORE_LIGHTNING_IP:$APP_SQUEAKNODE_CORE_LIGHTNING_PORT