# clnrest Hidden Service gap abstraction from hard-coded legacy c-lightning-rest key during build
HiddenServiceDir /data/app-$APP_ID-rest
HiddenServicePort $CLN_REST_REST_PORT $APP_CLN_REST_DAEMON_IP:$CLN_REST_REST_PORT
export APP_CLN_REST_BITCOIN_NETWORK="bitcoin"
