# Core Lightning Frontend Hidden Service
HiddenServiceDir /data/app-$APP_ID
HiddenServicePort 80 $APP_PROXY_HOSTNAME:$APP_PROXY_PORT

# Core Lightning REST Hidden Service
HiddenServiceDir /data/app-$APP_ID-rest
HiddenServicePort 80 $APP_CORE_LIGHTNING_REST_IP:$APP_CORE_LIGHTNING_REST_PORT