# TDEX Public Trader Interface Hidden Service
HiddenServicePort $APP_TDEXD_PORT $APP_TDEXD_IP:$APP_TDEXD_PORT

# Dashboard Frontend Hidden Service
HiddenServicePort 80 $APP_PROXY_HOSTNAME:$APP_PROXY_PORT