# suredbits-wallet p2p Hidden Service
HiddenServiceDir /data/app-suredbits-wallet-p2p
HiddenServicePort $APP_SUREDBITS_WALLET_P2P_PORT $APP_SUREDBITS_WALLET_SERVER_IP:$APP_SUREDBITS_WALLET_P2P_PORT

# suredbits-wallet Hidden Service
HiddenServiceDir /data/app-suredbits-wallet
HiddenServicePort 80 $APP_SUREDBITS_WALLET_IP:3002