# LND REST Hidden Service
HiddenServiceDir /data/app-$APP_ID-rest
HiddenServicePort $LND_REST_PORT $APP_UMBREL_LIGHTNING_NODE_IP:$LND_REST_PORT

# LND gRPC Hidden Service
HiddenServiceDir /data/app-$APP_ID-grpc
HiddenServicePort $APP_UMBREL_LIGHTNING_NODE_GRPC_PORT $APP_UMBREL_LIGHTNING_NODE_IP:$APP_UMBREL_LIGHTNING_NODE_GRPC_PORT

# LND Frontend Hidden Service
HiddenServiceDir /data/app-$APP_ID
HiddenServicePort 80 $APP_PROXY_HOSTNAME:$APP_PROXY_PORT