{
"btcd" : [
        {
                "url": "${APP_BITCOIN_NODE_IP}:${APP_BITCOIN_RPC_PORT}",
                "auth": "${APP_BITCOIN_RPC_USER}",
                "pass": "${APP_BITCOIN_RPC_PASS}",
                "notify" : true
        }
],
"btcsig" : "/mined by Bassin/",
"mindiff": 1,
"startdiff": 42,
"maxdiff" : 0,
"logdir" : "/www",
"zmqblock" : "tcp://${APP_BITCOIN_NODE_IP}:${APP_BITCOIN_ZMQ_HASHBLOCK_PORT}"
}
