# samourai-server dojo Hidden Service
HiddenServiceDir /data/app-samourai-server-dojo
HiddenServicePort 80 $APP_SAMOURAI_SERVER_IP:80

# samourai-server whirlpool Hidden Service
HiddenServiceDir /data/app-samourai-server-whirlpool
HiddenServicePort 80 $APP_SAMOURAI_SERVER_WHIRLPOOL_IP:$APP_SAMOURAI_SERVER_WHIRLPOOL_PORT

# samourai-server connect Hidden Service
HiddenServiceDir /data/app-samourai-server
HiddenServicePort 80 $APP_SAMOURAI_SERVER_IP:8081