# samourai-server dojo Hidden Service
HiddenServiceDir /data/app-$APP_ID-dojo
HiddenServicePort 80 $APP_SAMOURAI_SERVER_IP:80

# samourai-server whirlpool Hidden Service
HiddenServiceDir /data/app-$APP_ID-whirlpool
HiddenServicePort 80 $APP_SAMOURAI_SERVER_WHIRLPOOL_IP:$APP_SAMOURAI_SERVER_WHIRLPOOL_PORT