server {
  listen 11434;
  server_name _;

  root /usr/share/nginx/html;

  location = /admin {
    return 301 /admin/;
  }

  location /admin/ {
    try_files /admin/index.html =404;
  }

  location / {
    proxy_pass http://ollama_ollama_1:11434;
    proxy_http_version 1.1;
    proxy_set_header Host ollama_ollama_1:11434;
    proxy_set_header Connection "";
    proxy_buffering off;
    proxy_read_timeout 3600s;
    proxy_send_timeout 3600s;
  }
}
