# Electrs RPC Hidden Service
HiddenServiceDir /data/app-$APP_ID-rpc
HiddenServicePort $ELECTRUM_PORT $APP_UMBREL_ELECTRS_NODE_IP:$ELECTRUM_PORT

# Electrs Frontend Hidden Service
HiddenServiceDir /data/app-$APP_ID
HiddenServicePort 80 $APP_PROXY_HOSTNAME:$APP_PROXY_PORT